/*
Theme Name: phiendich
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE DEMO1.   ***************/
.current-page-ancestor.current-menu-ancestor.current_page_ancestor.menu-item-has-children.active a.nav-top-link {
    color: #F84805;
}
.absolute-footer, html{
    background-color:#FFF!important;
}
.quy-trinh .text .svg-icon {
    text-align: center;
}
/* header */
a.nav-top-link:hover {
    border-bottom-color: #f84805;
    color: #f84805!important;
}
ul.header-nav.header-nav-main.nav.nav-left.nav-uppercase {
}

ul li a.nav-top-link {line-height: 44px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #f84805;
    border-bottom: transparent solid 3px;
    transition: all .3s linear;
}

ul.header-nav.header-nav-main.nav.nav-right.nav-uppercase {
    padding-top: 10px;
}
a.button.primary {
    display: inline-block;
    height: 40px;
    border: #f84805 solid 2px;
    transition: all .6s ease 0s;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFF;
    color: #f84805;
}
.stuck ul.header-nav.header-nav-main.nav.nav-left.nav-uppercase {
}
.current-menu-item>a {color: #f84805!important;border-bottom-color: #f84805!important;}
/* contact header */
.contact-header {
    background-color: #f84805;
    background-image: url(http://localhost/phiendich/wp-content/uploads/2019/07/banner_transparent_2-min.png);
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.contact-header .heading-contact {
    font-size: 3.5em;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 40px;
}
.contact-header p {
    margin: 0 0 10px;
}
.contact-header .text-header {
    font-size: 20px;
}
.contact-header a {
    color: #FFF;
}
.contact-header .nut-0 {
    font-size: 18px;
    background: rgba(252,185,0,1);
    border-color: rgba(252,185,0,1);
}

.contact-header .nut-1 {
    color: #fff;
    font-size: 18px;
    border-color: rgba(255,255,255,1);
    background-color: #f84805;
}
.contact-header .button {
    padding: 6px 16px 0px 16px;
    cursor: pointer;
    display: -ms-flexbox;
    line-height: 1.6;
    text-align: center;
    -ms-flex-pack: center;
    border-style: solid;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 30px;
    border-width: 3px;
    margin-top: 20px;
}
.contact-header svg {
    margin-bottom: 4px;
}
/* lý do */
.ly-do .box-media.animate-none {
    float: left;
    height: 100%;
    margin-right: 10px;
    color: #f84805;
}
.ly-do h2.advancedheading {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.ly-do h3.box-title {
    margin-bottom: 0;
}
.ly-do .box-text{
    text-align:justify;
}
/* dự án */
.du-an .advancedheading {
    margin-bottom: 10px;
    font-size: 35px;
    text-transform: uppercase;
}
.du-an .desc, .tin-tuc .item-title {
    text-align: center;
}
.du-an .bg.bg-loaded {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #009183;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 1;
    transition: all .3s linear;
}
.du-an .icon {
    display: inline-block;
    width: 78px;
    height: 78px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -39px;
    margin-left: -39px;
    text-indent: -9999px;
    text-align: left;
    overflow: hidden;
    background: url(http://localhost/phiendich/wp-content/uploads/2019/07/plus.png) center center no-repeat;
    z-index: 2;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
}
.du-an h3 {
    font-size: 18px;
    color: #f84805;
    padding-top: 10px;
}
.du-an .button-more {
    border-radius: 30px;
    padding: 0px 16px;
    font-size: 18px;
    font-weight: 400;
    border: #313131 solid 2px;
    color: #313131;
    background-color: #FFF;
    text-transform: none;
    margin-top: 20px;
}
.du-an .img {
    border-top: #d5d5d5 solid 3px;
}

.du-an .img:hover {
    border-top-color: #F85805;
}
.du-an .img:hover .bg {
    webkit-opacity: .2;
    -moz-opacity: .2;
    opacity: .2;
}
.du-an .img:hover .icon {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
/* thông tin */
.tin-tuc img {
    width: 100%;
    border: #eeee solid 2px;
}

.tin-tuc .item-title {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    color: #f84805;
}
.tin-tuc .advancedheading {
    margin-bottom:10px;
    font-size: 35px;
    text-transform: uppercase;
}
/* Nhận xét */
.nhan-xet .advancedheading {
    font-size: 35px;
    text-transform: uppercase;
    color: #F84805;
}
.nhan-xet img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-clip: padding-box; */
    max-width: 100%;
}

.nhan-xet .item-author.col.medium-4 {
    width: 180px;
}

.nhan-xet .item-img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-clip: padding-box;
    margin: 0 auto 20px;
    background: #f8f8f8 url(http://localhost/phiendich/wp-content/uploads/2019/07/man.jpg) center center no-repeat;
    background-size: cover;
    object-fit: cover;
}

.nhan-xet .author-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    text-align: center;
}

.nhan-xet .author-company {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #009183;
    text-align: center;
}

.nhan-xet .item-quotes.col.medium-8 {
    background-color: #f8f8f8;
    padding: 30px;
    position: relative;
    font-size: 16px;
    font-style: italic;
    color: #000;
}
.nhan-xet h2#heading-7 {
    padding-bottom: 50px;
    padding-top: 50px;
}

.nhan-xet .dong {
    margin-bottom: 20px;
}

.nhan-xet .item.row {
    height: 100%;
}

.nhan-xet .button-more {
    border-radius: 30px;
    padding: 0px 16px;
    font-size: 18px;
    font-weight: 400;
    border: #313131 solid 2px;
    color: #313131;
    background-color: #FFF;
    text-transform: none;
}
.nhan-xet .item-quotes::before {
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-right-color: #f8f8f8;
    position: absolute;
    top: 15px;
    left: -30px;
    z-index: 2;
}
/* báo giá */
.bao-gia h2.text-center {
    font-size: 24px;
    font-weight: 600;
    color: #f84805;
}
.bao-gia p.text-center.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.bao-gia p.text-center.contact {
    padding-bottom: 20px;
}

.bao-gia a {
    color: #f84805;
    text-decoration: none;
}

.bao-gia input {
    width: 100%;
    margin-bottom: 15px;
    padding: 3px 5px;
    font-size: 14px;
    border: #ccc solid 1px;
}

.bao-gia select {
    width: 100%;
    margin-bottom: 15px;
    padding: 3px 5px;
    font-size: 14px;
    border: #ccc solid 1px;
}

.bao-gia input.wpcf7-form-control.wpcf7-file {
    border: none;
}
.bao-gia .col.medium-4 {
    text-align: center;
}
input.wpcf7-form-control.wpcf7-quiz {
    max-width: 10%;
}
.bao-gia .quiz {
    text-align: center;
}
.bao-gia input.wpcf7-form-control.wpcf7-submit {
    max-width: 180px;
    background-color: #f84805;
    border-color: #f84805;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 15px;
    background-clip: padding-box;
}
.bao-gia input.wpcf7-form-control.wpcf7-quiz {
    margin-top: 10px;
}
.bao-gia {
    background-image: url(http://localhost/phiendich/wp-content/uploads/2019/07/grad.jpg);
    background-size: cover;
}
.bao-gia label {
    font-weight: 100;
    font-size: 16px;
}
.bao-gia span.quiz-label {
    font-weight: bold;
}
/*footer*/
.footer-1{
    background: #f84805 url(http://localhost/phiendich/wp-content/uploads/2019/07/footer-star.png) top center no-repeat;
    color: #fff;
    height: auto;
    padding-top: 80px;
    padding-bottom: 100px;
    clear: both;
    font-size: 14px;
    font-weight: 500;
}
.footer-1 a {
    color: #FFF;
}
.footer-1 .widget-title {
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    color: #FFF;
}
#footer-2 .contact-list i {
    margin-right: 4px;
}
.footer .widget-title {
    color: #FFF;
    font-size: 25px;
}
.footer .bottom-border {
    border-bottom: 4px solid #FFF;
    width: 55px;
    margin-bottom: 20px;
}
#footer-2 .contact-list {
    font-size: 18px;
}
#footer-3 .social-icons li {
    webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: url(http://localhost/phiendich/wp-content/uploads/2019/08/index.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: inline-block;
    margin: -1px 1px 5px 0;
    padding: 0;
    border-radius: 100%;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    background-color: #FFF!important;
}

#footer-3 ul.social-icons {
    margin: 0;
    padding: 0;
    width: auto;
}
#footer-3 ul.social-icons li[class] a{
    text-indent: -9999px;
}

#footer-3 .social-icons li a {
    height: 30px;
    width: 30px;
    text-align: center;
    display: block;
}
#footer-3 li.mail {
    background-image: url(http://localhost/phiendich/wp-content/uploads/2019/08/app-store-apple-google-play-zalo.jpg);
}
/* hover */
.nhan-su .animated-scale-grown:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.nhan-su .animated-scale-grown {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.contact-header .button:hover {
    background: rgba(68,68,68,1);
    border-color: rgba(68,68,68,1);
}

.dich-thuat-uy-tin a.button:hover {
    border-color: rgba(0,140,158,1);
    background: rgba(0,140,158,1);
}
.hover-xem-them:hover {
    background: rgba(68,68,68,1);
    color: #FFF;
}

.dia-chi a.button:hover {
    color: #fff;
    background: rgba(108,141,171,1);
    border-color: rgba(108,141,171,1);
}
.header-button a.button.primary:hover {
    background-color: #f84805;
    color: #fff;
}
/* pop-up*/
.pum-content .col.medium-3 {
    color: #FFF;
}
div#popmake-303 {width: 50%;margin-left: -25%;}

.pum-content .form-heading {
    font-size: 24px;
    text-transform: uppercase;
    background: #f84805;
    color: #fff;
    text-align: left;
    padding: 10px 0;
    margin-bottom: 10px;
}

.pum-content a {
    color: #FFF;
}

.icon-envelope-o:before {
    content: "\f003";
    color: #FFF;
}

.icon-phone-call:before {
    content: "\e901";
}

.pum-content p {
    color: #FFF;
}
.pum-content input.wpcf7-form-control.wpcf7-submit {
    background: #faa61a;
    color: #fff;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
}
button.pum-close.popmake-close {
    right: -60px!important;
}
/******* Phiên Dịch *******/
/* slide đàu */
.slide-cung-cap {
    background-image: url(https://dichthuatphuongdong.com/wp-content/uploads/2019/03/hoi-thao.jpg);
    background-size: cover;
    background-position: center center;
}
.slide-cung-cap .container-wrap {
    padding-top: 100px;
    padding-bottom: 130px;
    max-width: 845px;
    margin-left: auto;
    margin-right: auto;
}

.slide-cung-cap h2#adv-heading-10 {
    font-size: 3.5em;
    line-height: 1.3em;
    font-weight: 800;
    font-family: Montserrat;
}
.slide-cung-cap h4#adv-heading-11 {
    font-size: 1.6em;
    line-height: 1em;
    font-weight: 200;
    font-family: Montserrat;
}
.slide-cung-cap .lien-lac {
    text-align: center;
    margin-top: 40px;
}

.slide-cung-cap .button-phiendich1 {
    color: #eee;
    font-size: 18px;
    background: rgba(200,34,84,1);
    border-color: rgba(238,238,238,1);
}

.slide-cung-cap .button-phiendich2 {
    color: #eee;
    font-size: 18px;
    background: rgba(252,185,0,1);
    border-color: rgba(238,238,238,1);
}

.slide-cung-cap .button-phiendich2:hover {
    background: rgba(200,34,84,1);
}

.slide-cung-cap .row-waves {
    height: 150px;
    bottom: -1px;
    left: 0;
    overflow: hidden;
    right: 0;
    z-index: 1;
}
.slide-cung-cap .layout-overlay {
    opacity: .35;
    background-color: #000;
    mix-blend-mode: normal;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.slide-cung-cap .inside-container {
    position: relative;
}
/* block chính */
.block-chinh {
    background: #FFF;
}
.block-chinh .khung {
    padding:30px
}
.block-chinh a.blocks-info.row {
    border: 1px solid red;
    padding: 10px;
}
/******** Bản tin******/
/* Tiêu đề*/
.tieu-de {
    align-items: center;
    background: linear-gradient(0deg,rgba(0,145,131,.8),rgba(0,145,131,.8)),#009183 url(https://dichthuatphuongdong.com/wp-content/themes/landing/assets/images/breadcrumb2.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.tieu-de h1.breadcrumb-title {
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
}

.tieu-de #breadcrumbs a {
    color: #FFF;
}
/* phần chính */
.phan-chinh .hotline {
    display: inline-block;
    background: url(https://dichthuatphuongdong.com/wp-content/themes/landing/assets/images/help.png) left center no-repeat;
    min-height: 24px;
    padding: 5px 0 5px 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #faa61a;
    text-decoration: none;
}
/*  biên dịch lĩnh vực */
.waves {
    height: 150px;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
}
.duong-link span {
    color: #FFF;
}
.anh-left img {
    padding-top: 25px;
}
.text-justify {
    text-align: justify;
}
.nganh {
    border: 1px solid #f84805;
    background-color: #f84805;
    color: #FFF;
    text-align: center;
    padding-top: 10px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 6px #fc8e05;
}
.lien-he .row.lienhe {
    max-width: 100%;
}
.lien-he .text-lienhe {
    padding: 100px;
    text-align: justify;
    background-color: #eeeeee;
}
.hotline-ho-so1 {
    background-color: #F84805;
}

.hotline-ho-so1:hover {
    background-color: #FFF;
    border-color: #008c9e;
    color: #008c9e;
}
.hotline-ho-so2 {
    background-color: #FFF;
    color: #008c9e;
    border-color: #008c9e;
}
/* biên dịch tiếng */
.dich-cong-chung {
    background-color: #eeee;
    padding-top: 50px;
}
.waves2 {
    height: 126px;
    overflow: hidden;
}
.quy-trinh .col.medium-4.text {
    padding: 40px;
}
.svg-icon2 {
    margin-top: 50px;
}
table.table-bao-gia {
    border: 1px solid #ddd;
    border-collapse: collapse;
    color: #FFF;
}

.table-bao-gia th,.table-bao-gia td {
    border: 1px solid #ddd;
}

.table-bao-gia th {
    border-bottom-width: 2px;
}

th.first {
    background-color: #faa61a;
    width: 50%;
}

th.second {
    background-color: #c82254;
    width: 25%;
}

th.third {
    background-color: #009183;
    width: 25%;
}

.table-bao-gia>thead>tr>th {
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.table-bao-gia>thead>tr>th>p{
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.table-bao-gia .lang {
    width: 25%;
}

.table-bao-gia>tbody>tr>td {
    font-size: 18px;
    color: #000;
    padding:12px;
}
.table-bao-gia>tbody>tr>td.price-value {
    font-size: 28px;
    font-weight: 700;
    color: #c82254;
}

.table-bao-gia .price-tag {
    background: url(https://dichthuatphuongdong.com/wp-content/themes/landing/assets/images/tag.png) no-repeat center center;
    width: 61px;
    height: 32px;
    text-align: right;
    margin-top: 5px;
    float: right;
}
.table-bao-gia>tbody>tr:hover {
    background-color: #f5f5f5;
}
.table-bao-gia .lang-source::after {
    content: "\f178";
    font-family: icomoon;
    color: #c82254;
    padding-left: 55%;
}
.bao-gia-dich h2.advancedheading {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #F84805;
}
/* quy trình biên dịch */
.quy-trinh .svg-icon4 {
    padding-top: 107px;
}
.quy-trinh h2.advancedheading {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #F84805;
}
.quy-trinh .svg-icon,.quy-trinh .svg-icon2,.quy-trinh .svg-icon4 {
    color: #F84805;
}
/*giới thiệu */
.introduce .wcenter {
    text-align: center;
    margin-bottom: 20px;
}

.introduce span.sp1 {
    font-size: 35px;
}

.introduce span.sp2 {
    font-size: 15px;
}

.introduce span.sp2:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    top: 22%;
    right: 9%;
    width: 600px;
}
.introduce span.sp2:before{
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    top: 22%;
    left: 9%;
    width: 600px;
}
.introduce {
    background-image: url(http://localhost/phiendich/wp-content/uploads/2019/08/ourstory.jpg);
    background-repeat: no-repeat;
    color: #FFF;
    background-size: cover;
}

.introduce .wleft img {
    border: 10px solid #F84805;
    border-radius: 140px;
    width: 135px;
    height: 135px;
}

.introduce .text-justify.ourstory-text {
    padding: 20px;
    background-color: #FFF;
    color: #000;
    height: 69%;
}

.introduce .text-bottom {
    border-color: #F84805;
    border-bottom: 4px solid #F84805;
    width: 55px;
    margin: 5px auto;
    margin-top: -15px;
}

.introduce span.sp3 {
    font-size: 24px;
    font-weight: bold;
    color:#FFF;
}
.chinh-sach .col.medium-4 {
    padding: 15px;
}
.chinh-sach .baomat {
    padding: 10px;
    border: 1px solid;
    color: #FFF;
}

.chinh-sach .baomat2 {
    margin-top: 30%;
    background-color: #e9da27;
}

.chinh-sach .baomat3 {
    margin-top: 60%;
    background-color: #13e16f;
}

.chinh-sach .bm-title {
    color: #FFF;
}

.chinh-sach .baomat1 {
    background-color: aqua;
    background-color: #e33a3a;
}
.chinh-sach {
    background-color: #eeee;
}
.chinh-sach h2.advancedheading:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #F84905;
    top: 6%;
    left: 45%;
    width: 172px;
}
/***** khách hàng ******/
.cam-nang .advancedheading {
    text-align: center;
    color: #F84805;
}

.cam-nang .cn-main {
    background: transparent url(http://localhost/phiendich/wp-content/uploads/2019/08/home-concept.png) no-repeat center 0;
    width: 100%;
    overflow: hidden;
}

.cam-nang .process-image {
    background: transparent url(http://localhost/phiendich/wp-content/uploads/2019/08/home-concept-item.png) no-repeat 0 0;
    width: 160px;
    height: 175px;
    margin: 135px auto 0 auto;
    position: relative;
    z-index: 1;
}

.cam-nang .process-image img {
    border-radius: 150px;
    margin: -17px 8px;
}

.cam-nang .project-image {
    background: transparent url(http://localhost/phiendich/wp-content/uploads/2019/08/home-concept-item.png) no-repeat 100% 0;
    width: 350px;
    height: 420px;
    padding-bottom: 45px;
    position: relative;
    z-index: 1;
}

.cam-nang .fc-flip {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cam-nang ul.fc-slides {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cam-nang div#fcSlideshow {
    position: relative;
    width: 338px;
    height: 338px;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    top: -44px;
}

.cam-nang .fc-flip div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cam-nang .fc-overlay-light {
    background-color: rgba(255,255,255,1);
}
.cn-main strong {
    display: block;
    font-family: "Shadows Into Light", cursive;
    font-size: 27px;
    font-weight: normal;
    position: relative;
    margin-top: 30px;
    text-align: center;
}
.cn-main a {
    color: #F84805;
}
.cn-main span.sun {
    background: transparent url(http://localhost/phiendich/wp-content/uploads/2019/08/home-concept-icons.png) no-repeat 0 0;
    width: 60px;
    height: 56px;
    display: block;
    position: absolute;
    left: 23%;
}
.khach-hang span.sp3:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #F84805;
    top: 75px;
    right: 11%;
    width: 548px;
}

.khach-hang span.sp3:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #F84805;
    top: 75px;
    left: 11%;
    width: 548px;
}
.khach-hang .wcenter.fancy.text-center {
    margin-bottom: 30px;
}

.qtdat .advancedheading {
    font-size: 35px;
    text-transform: uppercase;
    color: #F84805;
    padding-top: 40px;
}
.qtdat .qt {
    margin-right: 38px;
    padding: 22px;
}
.qtdat .qt-title {
    color: #F84805;
    text-align: center;
}
.qtdat .qt-content {
    display: inline-block;
    width: 76px;
    height: 76px;
}
.qtdat {
    text-align: center;
    background-color: #eee;
}
.qtdat .qt-detail {
    color: #F84805;
}
/****** Phiên dịch ******/
svg.list-svg {
    margin-right: 10px;
}
h2.advcedheading {
    color: #F84805;
}
.phiendich-2 .text-justify {
    padding: 35px;
}
.phiendich-3 img {
    height: 100%;
}
.phiendich-5 .medium-10 h3 {
    padding-top: 32px;
}
.phiendich-5 .advancedheading {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #F84805;
}
.da-nganh .advancedheading {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #F84805;
}
/***** responsive *******/
@media screen and (max-width: 800px){
    .table-bao-gia .lang-source::after {padding-left: 0;}
    .table-bao-gia>tbody>tr>td.price-value {
        font-size: 20px;
    }

    .table-bao-gia .price-tag {
        display: none;
    }

    .table-bao-gia>thead>tr>th {
        font-size: 20px;
    }

    .quy-trinh .svg-icon, .quy-trinh .svg-icon2, .quy-trinh .svg-icon4 {
        text-align: center;
    }

    h3.heading-quytrinh {
        text-align: center!important;
    }
    .waves {
        height: 38px;
    }
    .waves2 {
        height: 38px;
    }
    .table-bao-gia>tbody>tr>td {
        padding: 10px!important;
    }
    .bao-gia-dich td.sv-detail {
        font-size: 15px!important;
    }

    .bao-gia-dich td.text-center strong {
        font-size: 15px;
    }
    .nhan-xet .item-author.col.medium-4 {
        left: 24%;
    }
    .cn-main {
        display: none;
    }
    .khach-hang span.sp3:after {
        display: none;
    }
    .khach-hang span.sp3:before {
        display: none;
    }
    .chinh-sach .baomat {
        margin-top: 0!important;
    }
}
/**** bài viết *****/
header.archive-page-header {
    align-items: center;
    background: linear-gradient(0deg,rgba(0,145,131,.8),rgba(0,145,131,.8)),#009183 url(https://dichthuatphuongdong.com/wp-content/themes/landing/assets/images/breadcrumb2.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
}
.archive-page-header h1.breadcrumb-title {
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
}

.archive-page-header #breadcrumbs a {
    color: #FFF;
}
.article-inner .bg.bg-loaded {
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    width: 90%;
    height: 88%;
    background-color: #009183;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 1;
    transition: all .3s linear;
}

.article-inner .image:hover .bg.bg-loaded {
    webkit-opacity: .2;
    -moz-opacity: .2;
    opacity: .2;
}

.article-inner .icon {
    display: inline-block;
    width: 78px;
    height: 78px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -39px;
    margin-left: -39px;
    text-indent: -9999px;
    text-align: left;
    overflow: hidden;
    background: url(http://localhost/phiendich/wp-content/uploads/2019/07/plus.png) center center no-repeat;
    z-index: 2;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
}

.article-inner .image:hover .icon {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.post-sidebar .textwidget a {
    display: inline-block;
    background: url(https://dichthuatphuongdong.com/wp-content/themes/landing/assets/images/help.png) left center no-repeat;
    min-height: 24px;
    padding: 5px 0 5px 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #faa61a;
    text-decoration: none;
}
.title-bai-viet {
    align-items: center;
    background: linear-gradient(0deg,rgba(0,145,131,.8),rgba(0,145,131,.8)),#009183 url(https://dichthuatphuongdong.com/wp-content/themes/landing/assets/images/breadcrumb2.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin:30px;
}
.title-bai-viet h1.breadcrumbs0 {
    font-size: 40px;
    font-weight: 700;
}

.title-bai-viet #breadcrumbs a {
    color: #FFF;
}

@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/
}